* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-color: #d0e8e3;
}

.wrapper {
    width: 800px;
    height: 800px;
    border: 8px solid #fa8072;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.game-header {
    padding: 1rem;
    position: relative;
    background-color: #fff;
}

.game-header h1 {
    text-align: center;
    font-weight: 600;
    padding-top: .5rem;
}

.header-quit {
    position: absolute;
    top: 1.5rem;
    right: 1.25rem;
}

.score-panel {
    display: flex;
    justify-content: center;
}

.timer {
    padding: 0 1rem;
}

.screen {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-content, .level-content, .game-over-content {
    text-align: center;
    margin: 10rem auto 0;
    padding: 2rem 0;
    border-radius: 10px;
    background-color: #E3F3FB;
    display: block;
    width: 70%;
}

.splash-content {
    min-height: 300px;
    padding: 2rem 0 0;
}

.game-over-content {
    margin: 7rem auto 0;
}

/* Splash Screen */
#splash {
    padding: 1rem;  
    display: block;
}

#splash p {
    margin: 2rem 0;
}

.enter-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    width: 6rem;
    margin-left: 1rem;
}

.namealert {
    padding: 0;
    margin: 0;
    color: #fa8072;
}



/* difficulty level screen */

.level button {
    margin: 2rem 1rem 0;
}

#level {
    display: block;
}

.level-content {
    margin-top: 12rem;
}


/* Game Screen */

.memory-game {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.easy .memory-card {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.difficult .memory-card {
    position: relative;
    width: calc(16.6667% - 10px);
    height: calc(16.6667% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: .25rem;
    border: 5px solid #fed88f;
    border-radius: 10px;
    object-fit: scale-down;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
    background-color: #f8efd4;
}

.back-face {
    background-color: #fed88f;
}

/* Game-over screen */
#game-over p {
    text-align: center;
    padding-top: 1rem;
}

.game-over {
    visibility: hidden;
	opacity: 0;
    transition: opacity 1000ms;
}

.show {
    display: block;
    visibility: visible !important;
	opacity: 100 !important;
}

.game-over-content h2 {
    margin: 2rem;
}

.play-again {
    margin: 2rem 0 1rem;
}
